<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BossFace01_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{716,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{716,319}}</string>
				<key>sourceSize</key>
				<string>{716,319}</string>
			</dict>

			<key>BossFace02_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,1175},{55,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,33}}</string>
				<key>sourceSize</key>
				<string>{55,33}</string>
			</dict>

			<key>BossFace03_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1500},{387,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{387,263}}</string>
				<key>sourceSize</key>
				<string>{387,263}</string>
			</dict>

			<key>BossFace04_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,2041},{5,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,6}}</string>
				<key>sourceSize</key>
				<string>{5,6}</string>
			</dict>

			<key>BossFace05_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,410},{41,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,31}}</string>
				<key>sourceSize</key>
				<string>{41,31}</string>
			</dict>

			<key>BossFace06_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1764},{330,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,280}}</string>
				<key>sourceSize</key>
				<string>{330,280}</string>
			</dict>

			<key>BossFace07_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,901},{300,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,273}}</string>
				<key>sourceSize</key>
				<string>{300,273}</string>
			</dict>

			<key>BossFace08_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,621},{668,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{668,308}}</string>
				<key>sourceSize</key>
				<string>{668,308}</string>
			</dict>

			<key>BossFace09_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,450},{24,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,7}}</string>
				<key>sourceSize</key>
				<string>{24,7}</string>
			</dict>

			<key>BossFace10_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1214},{615,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{615,285}}</string>
				<key>sourceSize</key>
				<string>{615,285}</string>
			</dict>

			<key>BossFace11_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,1175},{55,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,32}}</string>
				<key>sourceSize</key>
				<string>{55,32}</string>
			</dict>

			<key>BossFace12_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,1175},{55,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,32}}</string>
				<key>sourceSize</key>
				<string>{55,32}</string>
			</dict>

			<key>BossFace13_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{670,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{670,300}}</string>
				<key>sourceSize</key>
				<string>{670,300}</string>
			</dict>

			<key>BossFace14_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1117,410},{37,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,34}}</string>
				<key>sourceSize</key>
				<string>{37,34}</string>
			</dict>

			<key>BossFace15_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,1175},{230,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,107}}</string>
				<key>sourceSize</key>
				<string>{230,107}</string>
			</dict>

			<key>BossFace16_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,1764},{329,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,259}}</string>
				<key>sourceSize</key>
				<string>{329,259}</string>
			</dict>

			<key>BossFace17_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,1175},{36,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,34}}</string>
				<key>sourceSize</key>
				<string>{36,34}</string>
			</dict>

			<key>BossFace18_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1632},{300,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,251}}</string>
				<key>sourceSize</key>
				<string>{300,251}</string>
			</dict>

			<key>BossFace19_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,410},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>BossFace20_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,1175},{41,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,30}}</string>
				<key>sourceSize</key>
				<string>{41,30}</string>
			</dict>

			<key>BossFace21_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,1500},{329,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,259}}</string>
				<key>sourceSize</key>
				<string>{329,259}</string>
			</dict>

			<key>BossFace22_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,0},{304,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{304,174}}</string>
				<key>sourceSize</key>
				<string>{304,174}</string>
			</dict>

			<key>BossFace23_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1272,297},{224,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,223}}</string>
				<key>sourceSize</key>
				<string>{224,223}</string>
			</dict>

			<key>BossFace24_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1231,1349},{262,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{262,234}}</string>
				<key>sourceSize</key>
				<string>{262,234}</string>
			</dict>

			<key>BossFace25_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1244,872},{244,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,246}}</string>
				<key>sourceSize</key>
				<string>{244,246}</string>
			</dict>

			<key>BossFace26_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,599},{276,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,272}}</string>
				<key>sourceSize</key>
				<string>{276,272}</string>
			</dict>

			<key>BossFace27_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,930},{630,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{630,283}}</string>
				<key>sourceSize</key>
				<string>{630,283}</string>
			</dict>

			<key>BossFace28_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,0},{275,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,168}}</string>
				<key>sourceSize</key>
				<string>{275,168}</string>
			</dict>

			<key>BossFace29_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,1071},{311,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,140}}</string>
				<key>sourceSize</key>
				<string>{311,140}</string>
			</dict>

			<key>BossFace30_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,1760},{311,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,140}}</string>
				<key>sourceSize</key>
				<string>{311,140}</string>
			</dict>

			<key>BossFace31_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,1214},{311,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,140}}</string>
				<key>sourceSize</key>
				<string>{311,140}</string>
			</dict>

			<key>BossFace32_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,1355},{311,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,140}}</string>
				<key>sourceSize</key>
				<string>{311,140}</string>
			</dict>

			<key>BossFace33_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,930},{311,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,140}}</string>
				<key>sourceSize</key>
				<string>{311,140}</string>
			</dict>

			<key>BossFace34_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,175},{272,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{272,121}}</string>
				<key>sourceSize</key>
				<string>{272,121}</string>
			</dict>

			<key>BossFace35_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,1632},{231,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,107}}</string>
				<key>sourceSize</key>
				<string>{231,107}</string>
			</dict>

			<key>BossFace36_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,621},{310,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{310,138}}</string>
				<key>sourceSize</key>
				<string>{310,138}</string>
			</dict>

			<key>BossFace37_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,1901},{292,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,141}}</string>
				<key>sourceSize</key>
				<string>{292,141}</string>
			</dict>

			<key>BossFace38_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,760},{310,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{310,140}}</string>
				<key>sourceSize</key>
				<string>{310,140}</string>
			</dict>

			<key>BossFace39_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,458},{292,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,140}}</string>
				<key>sourceSize</key>
				<string>{292,140}</string>
			</dict>

			<key>BossFace40_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,1496},{303,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{303,135}}</string>
				<key>sourceSize</key>
				<string>{303,135}</string>
			</dict>

			<key>BossFace41_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,1212},{303,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{303,136}}</string>
				<key>sourceSize</key>
				<string>{303,136}</string>
			</dict>

			<key>BossFace42_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,1484},{208,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,132}}</string>
				<key>sourceSize</key>
				<string>{208,132}</string>
			</dict>

			<key>BossFace43_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,458},{307,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{307,137}}</string>
				<key>sourceSize</key>
				<string>{307,137}</string>
			</dict>

			<key>BossFace44_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,320},{308,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{308,137}}</string>
				<key>sourceSize</key>
				<string>{308,137}</string>
			</dict>

			<key>BossFace45_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,1901},{310,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{310,139}}</string>
				<key>sourceSize</key>
				<string>{310,139}</string>
			</dict>

			<key>BossFace46_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,175},{303,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{303,134}}</string>
				<key>sourceSize</key>
				<string>{303,134}</string>
			</dict>

			<key>BossFace47_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,901},{59,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,26}}</string>
				<key>sourceSize</key>
				<string>{59,26}</string>
			</dict>

			<key>BossFace48_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,410},{94,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,39}}</string>
				<key>sourceSize</key>
				<string>{94,39}</string>
			</dict>

			<key>BossFace49_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,1283},{204,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,53}}</string>
				<key>sourceSize</key>
				<string>{204,53}</string>
			</dict>

			<key>BossFace50_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,310},{290,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,99}}</string>
				<key>sourceSize</key>
				<string>{290,99}</string>
			</dict>

			<key>BossFace51_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{1257,599},{229,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{229,88}}</string>
				<key>sourceSize</key>
				<string>{229,88}</string>
			</dict>

			<key>BossFace52_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{1257,688},{189,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,116}}</string>
				<key>sourceSize</key>
				<string>{189,116}</string>
			</dict>

			<key>BossFace53_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,1884},{150,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,86}}</string>
				<key>sourceSize</key>
				<string>{150,86}</string>
			</dict>

			<key>BossFace54_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,1349},{302,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,134}}</string>
				<key>sourceSize</key>
				<string>{302,134}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>BossFace.png</string>
			</dict>
		</dict>
</plist>